<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Beauty Salon </title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Style css -->
<link rel="stylesheet" href="/static/css/main.css">

<!-- Font css -->
<link rel="stylesheet" href="css/imagehover.min.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i%7cLibre+Baskerville:400,400i,700" rel="stylesheet">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
<section class="hero-section">
<div>
  </div> 
        <div class="hero-caption">
          <!-- <h1 class="hero-title">"It doesn't matter if your life is perfect as long as your hair color is."</h1>
          <p class="hero-text">- Zendaya Coleman</p> -->
          <a href="#aboutus-section" class="servicebutton">view services</a> 
        </div>
  </div>
</div>
</section>

<!-- NAV BAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: rgba(68, 68, 68, 0.192);">
  <a class="navbar-brand" href="#" style="color: rgb(172, 58, 58);font-size:30px">BPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">
        <a class="nav-link" href="#a" style="color: rgb(216, 214, 214);"> My services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(216, 213, 213); ">
          Authentication
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgba(68, 68, 68, 0.432);">
          <a class="dropdown-item" href="/logout" style="color: rgb(0, 0, 0);" >Log out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="background-color: rgba(68, 68, 68, 0.192);color: rgb(216, 214, 214);">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- NAV BAR END -->

<!-- ABOUT US -->
<section id="aboutus-section">
  <div class="aboutus-heading">
    <h1 >ABOUT US</h1>
  </div>
  <div class="aboutus-container">
    <div class="aboutus">
      Our mission is to provide a friendly, personalized service through a team of highly skilled and creative professionals. 
      Teamwork is our most valuable asset which ensures our clients are always number one, and we strive to exceed your expectations.Whether you want to get a simple, 
      classic hair cut or you want to get a personalized look from the stylists, we are for you. 
      We offer a range of services starting from hair styling, hair coloring, makeup, eyelash extensions to skincare, bronzing, hair removal and barbering
    </div>
    <div class="aboutus-img">
      <img src="/static/aboutus1.png">  
    </div>
  </div>
</section>
<hr>
<!-- ABOUT US ENDS -->

<!-- OUR SERVICES STARTS HERE -->
<section class="ourservices-section">
  <div class="ourservices-heading">
    <h1 >OUR SERVICES</h1>
  </div>

  <div class="cards">

    <div class="hair">
      <div class="hairdetails">
        <div class="hair-heading">
           <p>HAIR</p>
        </div>
      </div>  
      <div class="hairimg">
        <a href="/hairservices"><img src="/static/hair2.jpeg"></a>
        BOOK APPOINTMENT
      </div>
    </div>

    <div class="makeup">
      <div class="makeupdetails">
        <div class="makeup-heading">
          <p>MAKE UP</p>
        </div>
      </div>
      <div class="makeupimg">
        <a href="/makeupservices"> <img src="/static/makeup2.jpg"></a>
            BOOK APPOINTMENT 
      </div> 
    </div>
</section>
<!-- OUR SERVICES ENDS HERE -->

<!-- CONTACT US STARTS HERE -->
<section class="contactus-section">
  <div class="ourservices-heading">
    <h1 >CONTACT US</h1>
  </div>
  <div class="fontawesomes">
    <i class="fa fa-facebook-square fa-2x"></i>
    <i class="fa fa-instagram fa-2x"></i>
    <i class="fa fa-linkedin fa-2x"></i>
  </div>
  <div class="footerdiscription">
    Info.Support.Marketing <br>
    Terms of use . Privacy Policy <br>
    &copy 2022 all rights reserved <br>
    Sukesh pandit <br>
  </div>
</section>
<!-- CONTACT US ENDS HERE -->







<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>