<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair services</title>
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/services.css">
</head>
<body>


      <!-- appointment details starts -->
    <section class="appointment">
        <div class="col-md-4 jumbotron">
            <div class="appointmentheading">MAKE AN APPOINTMENT</div>   
                <form action='/makeupservices' method='POST'>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name='name' placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2">Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" name='email' placeholder="email">
                    </div>

                    <div class="form-group">
                        <select name="services" id="services" class="form-control" required>
                            <option selected>Services</option>
                            <option value="Spot Lights - Eye Rejuvination">Spot Lights - Eye Rejuvination</option>
                            <option value="Spot Lights - Argan Lip Care">Spot Lights - Argan Lip Care</option>
                            <option value=" OIL GODESS SPA"> OIL GODESS SPA</option>
                            <option value="CLASSY CORPORATE">CLASSY CORPORATE</option>
                            <option value="SUN KISSED RADIANCE"> SUN KISSED RADIANCE</option>
                            <option value="MESMER-EYES">MESMER-EYES</option>
                            <option value="TRAIL RUN- LIQUID LUSTER">TRAIL RUN- LIQUID LUSTER</option>
                            <option value="FESTIVE FERVOUR">FESTIVE FERVOUR</option>
                            <option value="YOUNG FOREVER">YOUNG FOREVER</option>
                            <option value="BOHO CHIC">BOHO CHIC</option>
                        </select>                
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput2">Date</label>
                        <input type="date" class="form-control" id="formGroupExampleInput2" name='date' placeholder="Date">
                    </div> 

                    <div class="form-group">
                        <label for="formGroupExampleInput2">Time</label>
                        <input type="time" class="form-control" id="formGroupExampleInput2" name='time' placeholder="Date">
                    </div>    
            
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Phone</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" name='phone' placeholder="Phone">
                    </div>

                    <div class="submit" style="display: flex; align-items : center;justify-content: center;">
                        <a href=""><button class="btn btn-danger" style="margin-bottom: 25px;" >Submit</button>   
                    </div>
                </form>
        </div>
    </section>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>